<a href="https://colab.research.google.com/github/fatemakotha/1800-Data-Visualization/blob/main/Lab_01_Exploration_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import matplotlib as plt
data = pd.read_csv("DailyHits.csv")
####---Set index_col=0 or the page won't load !!!!---####
# data = pd.read_csv("https://drive.google.com/file/d/1cIDWo4ytvtrBUz5C68Mx37xx7i9zlBjX/view?usp=sharing", index_col=0)

In [29]:
print(data.index)

RangeIndex(start=0, stop=365, step=1)

In [30]:
type(print(data.index))

RangeIndex(start=0, stop=365, step=1)

NoneType

In [31]:
data.index = pd.to_datetime(data.index)

In [32]:
type(data.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [33]:
print(data)
print(data.head())
print(data.describe())
print(data.sum())

                                     Date   001  002  003  004  005  006  007  \
1970-01-01 00:00:00.000000000  2019-01-01  1062   33   67   42    0    4    0
1970-01-01 00:00:00.000000001  2019-01-02   976   41   72   19    2    0    0
1970-01-01 00:00:00.000000002  2019-01-03   956   27   71   28    4    6   11
1970-01-01 00:00:00.000000003  2019-01-04   976   30   57   29    0    0    3
1970-01-01 00:00:00.000000004  2019-01-05   956   45   65   27    4    1    0
...                                   ...   ...  ...  ...  ...  ...  ...  ...
1970-01-01 00:00:00.000000360  2019-12-27  1065   46   76   24    0    0    0
1970-01-01 00:00:00.000000361  2019-12-28  1135   55   87   41    1    0    0
1970-01-01 00:00:00.000000362  2019-12-29  1125   64   92   24    0    2    0
1970-01-01 00:00:00.000000363  2019-12-30  1113   59   68   48    9    7    7
1970-01-01 00:00:00.000000364  2019-12-31  1073   66   86   23    0    0    0

                               008  009  ...  158  159  160  161  162  163  \
1970-01-01 00:00:00.000000000    0    1  ...    0    0    4    0   10    2
1970-01-01 00:00:00.000000001   14    1  ...    5    0    0    7    0    0
1970-01-01 00:00:00.000000002    0    0  ...    0    0    0    0    6    0
1970-01-01 00:00:00.000000003    0    2  ...    0    2    0    0    0    0
1970-01-01 00:00:00.000000004    0    0  ...   12    0    0    4    0    0
...                            ...  ...  ...  ...  ...  ...  ...  ...  ...
1970-01-01 00:00:00.000000360    2    0  ...    4    1    0    0    0    0
1970-01-01 00:00:00.000000361    0    0  ...    0    0    0    3    0    4
1970-01-01 00:00:00.000000362    0    3  ...    0    2    0    0    3    0
1970-01-01 00:00:00.000000363    5    0  ...    5    1    5    1    0   15
1970-01-01 00:00:00.000000364    6    0  ...   13    3    2    0    0    0

                               164  165  166  167
1970-01-01 00:00:00.000000000    2    2    0    0
1970-01-01 00:00:00.000000001    0    0    1    3
1970-01-01 00:00:00.000000002    0    3    0    0
1970-01-01 00:00:00.000000003    0    0    0    7
1970-01-01 00:00:00.000000004    0    0    5    2
...                            ...  ...  ...  ...
1970-01-01 00:00:00.000000360    0    2    0    0
1970-01-01 00:00:00.000000361    1    1    5    4
1970-01-01 00:00:00.000000362    0    0    0    1
1970-01-01 00:00:00.000000363    5    0    3    3
1970-01-01 00:00:00.000000364    3    0    0    0

[365 rows x 168 columns]
                                     Date   001  002  003  004  005  006  007  \
1970-01-01 00:00:00.000000000  2019-01-01  1062   33   67   42    0    4    0
1970-01-01 00:00:00.000000001  2019-01-02   976   41   72   19    2    0    0
1970-01-01 00:00:00.000000002  2019-01-03   956   27   71   28    4    6   11
1970-01-01 00:00:00.000000003  2019-01-04   976   30   57   29    0    0    3
1970-01-01 00:00:00.000000004  2019-01-05   956   45   65   27    4    1    0

                               008  009  ...  158  159  160  161  162  163  \
1970-01-01 00:00:00.000000000    0    1  ...    0    0    4    0   10    2
1970-01-01 00:00:00.000000001   14    1  ...    5    0    0    7    0    0
1970-01-01 00:00:00.000000002    0    0  ...    0    0    0    0    6    0
1970-01-01 00:00:00.000000003    0    2  ...    0    2    0    0    0    0
1970-01-01 00:00:00.000000004    0    0  ...   12    0    0    4    0    0

                               164  165  166  167
1970-01-01 00:00:00.000000000    2    2    0    0
1970-01-01 00:00:00.000000001    0    0    1    3
1970-01-01 00:00:00.000000002    0    3    0    0
1970-01-01 00:00:00.000000003    0    0    0    7
1970-01-01 00:00:00.000000004    0    0    5    2

[5 rows x 168 columns]
               001         002         003         004         005  \
count   365.000000  365.000000  365.000000  365.000000  365.000000
mean   1040.224658   47.673973   74.654795   31.967123    1.460274
std      47.301627   11.961959    9.926447    9.666074    2.001836
min     906.000000   14.000000   47.000000    1.000000    0.000000
25%    1009.000000   39.000000   67.000000   26.000000    0.000000
50%    1040.000000   48.000000   75.000000   32.000000    0.000000
75%    1075.000000   56.000000   81.000000   38.000000    3.000000
max    1159.000000   82.000000  115.000000   56.000000   10.000000

              006         007         008         009         010  ...  \
count  365.000000  365.000000  365.000000  365.000000  365.000000  ...
mean     2.136986    3.002740    4.073973    1.575342   46.701370  ...
std      2.880949    4.378706    5.948728    2.231873   11.371891  ...
min      0.000000    0.000000    0.000000    0.000000   16.000000  ...
25%      0.000000    0.000000    0.000000    0.000000   39.000000  ...
50%      1.000000    0.000000    0.000000    0.000000   47.000000  ...
75%      4.000000    5.000000    7.000000    3.000000   54.000000  ...
max     16.000000   20.000000   29.000000   10.000000   74.000000  ...

              158         159         160         161         162         163  \
count  365.000000  365.000000  365.000000  365.000000  365.000000  365.000000
mean     3.219178    0.945205    0.827397    1.775342    2.087671    2.389041
std      4.643460    1.353571    1.240487    2.598382    3.306335    3.808159
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      5.000000    2.000000    1.000000    3.000000    3.000000    4.000000
max     22.000000    6.000000    5.000000   14.000000   19.000000   18.000000

              164         165         166         167
count  365.000000  365.000000  365.000000  365.000000
mean     0.986301    1.876712    2.646575    3.276712
std      1.432484    2.755340    3.806230    4.782366
min      0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000
75%      2.000000    3.000000    5.000000    6.000000
max      7.000000   14.000000   19.000000   25.000000

[8 rows x 167 columns]
Date    2019-01-012019-01-022019-01-032019-01-042019-0...
001                                                379682
002                                                 17401
003                                                 27249
004                                                 11668
                              ...
163                                                   872
164                                                   360
165                                                   685
166                                                   966
167                                                  1196
Length: 168, dtype: object

There are 167 pages as there are 167 columns.

The time range is 12months/1year(2019).

For page number 001 mean = 1040, max = 1159, min = 906

In [23]:
DATA = pd.read_csv("https://drive.google.com/file/d/1cIDWo4ytvtrBUz5C68Mx37xx7i9zlBjX/view?usp=sharing", index_col=0)